<!DOCTYPE html>
<html>
<% include ./partials/head %>

<body>
  <% include ./partials/nav %>
  <div class="uk-container" style="text-align: center">
    <div>Welcome!!!!!</div>
    <br>
    <div>
      <a class="uk-button uk-button-primary" href="/home">go to the homepage</a>
    </div>
  </div>
  <% include ./partials/scripts %>
</body>
</html>