<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body style="font-family: Varela Round">
    <br>
    <br>
    <div class="uk-container" style="max-width: 600px;">
      <p>Create a new account</p>
      <form class="uk-form-controls" action="/register" method="post">
        <% include ./partials/messages %>
        <div class="uk-margin">
          <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="text" name="username">
          </div>
        </div>
        <div class="uk-margin">
          <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <input class="uk-input" type="text" name="password">
          </div>
        </div>
        <div class="uk-margin">
          <div class="uk-inline uk-width-1-1">
            <input class="uk-input submit-btn" type="submit" name="" value="signup" style="background: #32d296; color: #eee">
          </div>
        </div>
      </form>
      <p><small>or</small></p>
      <a class="uk-button uk-button-primary" href="/login">login</a>
    </div>
    <% include ./partials/scripts %>
  </body>
</html>